---
import CommonHead from "../components/common-head.astro";
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="generator" content={Astro.generator} />
    <CommonHead />
  </head>
  <body class="w-screen h-screen flex justify-center items-center bg-[#17181C]">
    <h1 class="text-6xl lg:text-[128px] font-bold text-white">NaN</h1>
  </body>
</html>
